<div>
    <Banner
      subtitle="subtitle"
      action={{
        title: 'Action',
        icon: 'document-share',
        onClick: () => toaster.notify('message')
      }}
      margin={32}
  		width={325}
  		height={75}
    >
      Banner Title
    </Banner>
  </div>